# Basics- Introduction to working with data using pandas

## import pandas

In [2]:
import pandas as pd

## display the data

In [17]:
df = pd.read_excel('data/Mineral Data.xlsx')

pd.set_option('display.max_rows', df.shape[0])
pd.set_option('display.max_columns', df.shape[1])

print(df.shape)

print(df.columns)

(25, 28)
Index(['mineral', 'oxygens', 'sample', 'no.', 'SiO2', 'TiO2', 'Al2O3', 'Cr2O3',
       'FeO', 'MnO', 'NiO', 'MgO', 'CaO', 'Na2O', 'K2O', 'total oxides', 'Si',
       'Ti', 'Al', 'Cr', 'Fe', 'Mn', 'Ni', 'Mg', 'Ca', 'Na', 'K',
       'total cations'],
      dtype='object')

## Select the data of a single categorie

In [19]:
df['SiO2']

0     42.51
1     42.16
2     52.33
3     51.54
4     57.09
5     59.19
6     58.33
7     53.87
8     47.10
9     47.72
10    42.72
11    42.83
12    40.43
13    42.46
14    45.09
15    46.72
16    46.36
17    47.78
18     0.59
19    35.13
20    35.52
21     3.24
22     0.16
23    51.72
24    32.79
Name: SiO2, dtype: float64

In [21]:
df['mineral'].drop_duplicates()

0          ol
2         cpx
4         opx
8          fs
16    fsp/mes
18         sp
19      ol/sp
Name: mineral, dtype: object

In [24]:
filter = (df['MgO'] > 50) & (df['MgO'] > 55)

df[filter]

,mineral,oxygens,sample,no.,SiO2,TiO2,Al2O3,Cr2O3,FeO,MnO,NiO,MgO,CaO,Na2O,K2O,total oxides,Si,Ti,Al,Cr,Fe,Mn,Ni,Mg,Ca,Na,K,total cations
0,ol,4,chd#2,1,42.51,0.04,0.07,0.04,0.18,0.00,0.00,55.26,1.58,0.0,0.0,99.68,1.003,0.001,0.002,0.001,0.004,0.000,0.0,1.944,0.040,0.0,0.0,2.995
11,ol,4,chd#3,17,42.83,0.03,0.11,0.16,0.45,0.00,0.01,56.10,0.46,0.0,0.0,100.15,1.004,0.001,0.003,0.003,0.009,0.000,0.0,1.961,0.012,0.0,0.0,2.992
13,ol,4,chd#3,21,42.46,0.05,0.27,0.10,0.32,0.03,0.01,55.26,0.57,0.0,0.0,99.07,1.006,0.001,0.008,0.002,0.006,0.001,0.0,1.951,0.014,0.0,0.0,2.989