# Dictionary – another type of list

In [ ]:
[1, 2, 3, 4, 5]

In [1]:
dict1 = {
    'Name': ['Dominik', 'Claudia', 'Chantal', 'Mark'],
    'Height': [190, 192, 176, 181]  # in cm
}

In [2]:
dict1

{'Name': ['Dominik', 'Claudia', 'Chantal', 'Mark'],
 'Height': [190, 192, 176, 181]}

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(dict1)

      Name  Height
0  Dominik     190
1  Claudia     192
2  Chantal     176
3     Mark     181

In [5]:
dict2 = {
    'Name': ['Dominik', 'Claudia', 'Chantal', 'Mark'],
    'body parameters': {'Height': [190, 192, 176, 181], 'Weight': [94, 92, 71, 105], 'eye colour': ['blue', 'green', 'brown']}
}

In [15]:
dict2['body parameters']['eye colour'][0]

'blue'

In [18]:
dict3 = {
    'animal': 'cat',
    'name': 'furbal',
    vaccinated: 'yes',
    'born': 2018
    'legs': 4
}