# Solution- Dictionary – another type of list

## Instant Review & Quiz

<b>I1. Name at least two differences between a dicitonary and a 'normal' list.</b>

<font color = darkgreen><b>
    curly bracktes – square brackets<br>
    have keys – no keys<br>
    elements can be accessed using keys – apparently not, as no keys in 'normal' lists
</b></font>

<b>I2. Each element of a list consist of two part – what are these called?</b>

<font color = darkgreen><b>
    Key – Value pairs.<br>
    The key is before the colon, basically a category name, and the values are single values or a list of values after the colon.
</b></font>

<b>Q1. Individual 'normal' lists in a dictionary need to be of the same length.</b><br>
True<br>
False

<font color = darkgreen><b>
    False
</b></font>

<b>Q2. Each key name in a dictionary needs to be unique.</b><br>
True<br>
False

<font color = darkgreen><b>
    True  (similar to category names in a database, which also need to be unique.)
</b></font>

<b>Q3. Keys can be a variable or string.</b><br>
True<br>
False

<font color = darkgreen><b>
    False
</b></font>

## Practise

### <font color = brown><b>Answer before executing the code!</b></font>

Produce a dictionary with 3 keys and variable lengths of the values.

In [12]:
dict = {
    'Name': ['Dominik', 'Claudia', 'Chantal', 'Mark'],
    'Height': [190, 192, 176, 181]
}

Convert this dictionary into a pandas dataframe

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(dict)

      Name  Height
0  Dominik     190
1  Claudia     192
2  Chantal     176
3     Mark     181

Produce a dictionary with an additional dictionary nested within this dictionary.

In [15]:
dict2 = {
    'Name': ['Dominik', 'Claudia', 'Chantal', 'Mark'],
    'body parameters': {'Height': [190, 192, 176, 181], 'Weight': [94, 92, 71, 105], 'eye colour': ['blue', 'green', 'brown']}
}

Extract various elements from this dictionray.

In [16]:
print(dict2['Name'][1])

print(dict2['body parameters']['eye colour'][2])

print(dict2['body parameters']['Weight'][0])

Claudia
brown
94

Try and conveert this nested dictionary into a DataFrame. Try and understand what happened.

In [17]:
pd.DataFrame(dict2)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

Imagine a table. Then this operation tries and write an entire dataset into a single cell, i.e., key and value(s). Pandas is not happy with this, and we would need to unfold such nesetd dictionary lists into a 2-dimensional table, e.g., using a for loop.

## What's wrong with this code?

In [18]:
dict = {
    'brand': 'Apple',
    'OS': 'macOS',
    memory: '64 GB',
    'year build': 2014
}

NameError: name 'memory' is not defined

memory needs to be a string

In [19]:
dict = {
    'city': ['Swakopmund', 'Timbuktu', 'Ulan Bator']
    'population': [45000, 54000, 1452000]
    'hair colour': ['black', 'brown', 'red', 'blond', 'grey', 'none']
}

SyntaxError: invalid syntax (<ipython-input-19-c3293a982705>, line 3)

commas after each entry are missing

In [20]:
for i in [1, 2, 3]
    print(i ** 3)

SyntaxError: invalid syntax (<ipython-input-20-38e76b3b1108>, line 1)

colon at the end of 'for ...' missing